<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DBMS_WebApp</display-name>
	<display-name>DBMS</display-name>
	<welcome-file-list>
		<welcome-file>com/login.jsp</welcome-file>
		<welcome-file>customer/Home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>LoginServelet</display-name>
		<servlet-name>LoginServelet</servlet-name>
		<servlet-class>controller.LoginServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServelet</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ProductDetails</display-name>
		<servlet-name>ProductDetails</servlet-name>
		<servlet-class>controller.ProductDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDetails</servlet-name>
		<url-pattern>/ProductDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>AdminData</display-name>
		<servlet-name>AdminData</servlet-name>
		<servlet-class>controller.AdminData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminData</servlet-name>
		<url-pattern>/getAdminData</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<description></description>
		<display-name>TransactionHistory</display-name>
		<servlet-name>TransactionHistory</servlet-name>
		<servlet-class>controller.TransactionHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionHistory</servlet-name>
		<url-pattern>/TransactionHistory</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CancelOrder</display-name>
		<servlet-name>CancelOrder</servlet-name>
		<servlet-class>controller.CancelOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelOrder</servlet-name>
		<url-pattern>/cancelOrder</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<description></description>
		<display-name>PlaceOrder</display-name>
		<servlet-name>PlaceOrder</servlet-name>
		<servlet-class>controller.PlaceOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceOrder</servlet-name>
		<url-pattern>/PlaceOrder</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<description></description>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>controller.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AddCard</display-name>
		<servlet-name>AddCard</servlet-name>
		<servlet-class>controller.AddCard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCard</servlet-name>
		<url-pattern>/addCard</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AddShippingAddress</display-name>
		<servlet-name>AddShippingAddress</servlet-name>
		<servlet-class>controller.AddShippingAddress</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddShippingAddress</servlet-name>
		<url-pattern>/addShppingAddress</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UpdateRegServlet</display-name>
		<servlet-name>UpdateRegServlet</servlet-name>
		<servlet-class>controller.UpdateRegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRegServlet</servlet-name>
		<url-pattern>/UpdateReg</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>AddCart</display-name>
		<servlet-name>AddCart</servlet-name>
		<servlet-class>controller.AddCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCart</servlet-name>
		<url-pattern>/addCart</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>CartServlet</display-name>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>controller.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/Cart</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>RegistrationServlet</display-name>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>log</filter-name>
		<filter-class>controller.FilterLog</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>log</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<session-config>
		<session-timeout>500</session-timeout>
	</session-config>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>controller.FilterAdmin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/mgmt/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>SecureAccessFilter</filter-name>
		<url-pattern>/secureAccess/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>SecureAccessFilter</filter-name>
		<filter-class>controller.SecureAccessFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CustomerFilter</filter-name>
		<filter-class>controller.FilterCustomer</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomerFilter</filter-name>
		<url-pattern>/customer/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>




	<context-param>
		<param-name>footer</param-name>
		<param-value> Advanced Database Management System</param-value>
	</context-param>





</web-app>
